body{
    background: linear-gradient(80deg, #ffd6dd, #aab3f3, #a3e8a3);
    margin: 0;
    display: flex;
    flex-direction: column;
}
@font-face {
    font-family: 'font_titulo';
    src: url('/css/fonts/ModernSans-Light.otf') format('opentype');
  }
p{
    font-family: "Gowun Dodum", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.titulo{
    width: 100%;
    height: 500px;
    font-family: font_titulo, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: -3px;
    line-height: -200px;
    line-height: 1;
    text-align: center;
}
.subtitulo{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0px;
    line-height: 0px;
    line-height: 0;
}

.projetos_finalizados{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card_projetos {
    background-color: #D094E5;
    width: 600px;
    height: 500px;
    border-radius: 60px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h3{
    font-family: "Gowun Dodum", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.card_projetos2 {
    background-color: #6D948F;
    width: 1000px;
    height: 500px;
    border-radius: 60px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card_projetos3 {
    background-color: #E0D0A8;
    width: 1000px;
    height: 500px;
    border-radius: 60px;
    overflow: hidden;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card_projetos4 {
    background-color: #90AECF;
    width: 600px;
    height: 500px;
    border-radius: 60px;
    overflow: hidden;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.img_porjetos {
    width: 900px;
    object-fit: cover; 
    display: block; 
    border-radius: 15px;
    margin-left: 400px;
    margin-top: 90px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.img_porjetos2 {
    width: 1000px;
    object-fit: cover; 
    display: block; 
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.img_porjetos3 {
    width: 1000px;
    object-fit: cover; 
    display: block; 
    border-radius: 15px;
    margin-left: 100px;
    margin-top: 570px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.conteiner2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.texto_titulo{
    margin-top: 150px;
    width: 85%;
    display: flex;
    justify-content: flex-end;
    
}
.texto_titulo2{
    margin-top: 170px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.texto h2{
    font-family: "Gowun Dodum", sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black;
    font-size: 40px;
    line-height: 0px;
    margin-top: -10px;
}

